//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

/* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"

/* Light theme. */
@import "~/.cache/wal/colors-rofi-light"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
